@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --primary-color: #047aed;
    --secondary-color: #1c3fa8;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --success-color: #5cb85c;
    --error-color: #d9534f;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color :#333;
    line-height: 1.6;
}
a {
    text-decoration: none;
    color: #333;
}
p{
    margin: 10px 0px;
}
h1,h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}
img {
    width: 100%; /*Image remians in container regardless of how large it is*/
}
ul {
    list-style-type: none;
}

/*Nav Bar*/
.navbar {
    background-color: var(--primary-color);
    color: var(--light-color);
    height: 70px;
}
.navbar .flex {
    justify-content: space-between;
}
.navbar ul {
    display: flex;
}
.navbar li {
    padding: 0px 20px;
}
.navbar a{
    color: var(--light-color);
    padding: 10px ;
}
.navbar a:hover {
    border-bottom: 2px solid var(--light-color);
}

/*Section*/
.showcase {
    background-color: var(--primary-color);
    color: var(--light-color);
    height: 400px;
    position: relative;
}
.showcase-text {
    animation: slideInFromLeft 1s ease-in;
}
.showcase-form {
    animation: slideInFromRight 1s ease-in;
}
.stats {
    animation: slideInFromBottom 1s ease-in;
}
.container h1 {
    font-size: 40px;
}
.container p {
    margin: 20px 0px;
}
.showcase .grid {
    overflow: visible;
    grid-template-columns: 55% 45%;
    gap: 40px;
}
.showcase-form {
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    z-index: 100;
    padding: 40px !important;
}
.showcase-form .form-control {
    margin : 30px 0px;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'] {
    border : 0;
    border-bottom : 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}

.showcase-form input[type='text'],
.showcase-form input[type='email']:focus {
    outline: none;
}

.showcase .btn-outline {
    background: transparent;
    border : 1px solid #fff;
}
.showcase .btn-outline a {
    color: #fff;
    font-size: 16px;
    font-family: 'Lato';
}
.showcase .btn-submit {
    background: var(--primary-color);
    padding: 10px 30px;
}


.showcase::after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    bottom: -70px;
    height: 100px;
    background: #fff;
    transform: skewY(-3deg);
}

/*Stats*/
.stats {
    padding-top: 100px;
}
.stats-heading {
    max-width: 500px;
    margin: auto !important;
}
.stats .grid h3 {
    font-size: 35px;
}
.stats .grid p {
    font-size: 20px;
    font-weight: bold;
    color: var(--secondary-color);
}

/*Cli*/
.cli .grid {
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}

.cli .grid > *:first-child {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

/*Cloud*/
.cloud .grid {
    grid-template-columns: 4fr 3fr;
}
.cloud .text-center h2 {
    font-size: 48px;
}
.cloud .text-center p {
    font-size: 20px;
    margin: 16px 0px;
}

/*Languages*/
.language .flex {
    flex-wrap: wrap;
}
.language h4 {
    font-size: 20px;
    margin-bottom: 10px;
}
.language .card {
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in;
}
.language .card:hover {
    transform: translateY(-15px);
}

/*Features*/
.features-head img, 
.docs-head img {
    width: 200px;
    justify-self: flex-end;
}
.features-head .text h1,
.docs-head .text h1 {
    font-size: 64px;
}
.features-head .text p,
.docs-head .text p {
    font-size: 20px;
}

/*Features - subhead*/
.features-subhead img {
    width: 300px;
    justify-self: flex-end;
}

/*Features - main*/
.features-main .card > i{
    margin-right: 20px;
}
.features-main .grid  {
    padding: 30px;
}
.features-main .grid > *:first-child {
    grid-column: 1 / span 3;
}
.features-main .grid > *:nth-child(2) {
    grid-column: 1 / span 2;
}

/*Docs*/
.docs-main h3{
    margin: 20px 0px;
}
.docs-main .grid {
    grid-template-columns: 1fr 2fr;
    align-items: flex-start;
}
.docs-main nav li {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px #ccc solid;
}
.docs-main nav li a:hover{
    font-weight: bold;
}
pre, code {
    background-color: #333;
    color: #fff;
    padding : 10px;
}
.card p{
    margin : 10px 0px;
}
/*Footer*/
.footer a {
    color: #fff;
}
.footer .social a {
    margin: 10px;
}

/*Animations*/
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform : translateX(0);
    }
}
@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform : translateX(0);
    }
}
@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform : translateY(0);
    }
}
@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform : translateY(0);
    }
}


/*Tablets and under*/
@media (max-width : 768px) {
    .grid,
    .showcase .grid,
    .stats .grid,
    .cli .grid,
    .cloud .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .showcase {
        height: auto;
    }
    .showcase-text {
        animation: slideInFromTop 1s ease-in;
    }
    .showcase-form {
        animation: slideInFromBottom 1s ease-in;
    }
    .showcase-text {
        text-align: center;
        margin-top: 40px;
    }
    .showcase-form {
        margin: auto; 
        justify-self: center;
        top: 0px;
    }

    /*Features and Docs*/
    .features-head .grid,
    .features-subhead .grid,
    .docs-head .grid{
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        text-align: center;
    }
    .features-head img,
    .features-subhead img,
    .docs-head img {
        justify-self: center;
    }
    .features-main .grid,
    .docs-main .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .features-main .grid > *:first-child,
    .features-main .grid > *:nth-child(2) {
        grid-column: 1;
    }
    .features-main .card i{
        padding: auto;
        flex : 1 1 0;
        justify-self: center;
    }
    .features-main .card p{
        flex : 9 1 0;
    }
    .footer .grid{
        grid-template-columns: 1fr;
    }
}

@media (max-width : 500px) {
    .navbar {
        height: 120px;
    }
    .navbar .container {
        padding : 0px 10px;
    }
    .navbar .flex {
        flex-direction: column;
    }

    .navbar ul {
        padding: 10px;
        background-color: rgba(0,0,0,0.1);
    }
}